html {
 margin:0;
 padding:0;
 font:normal normal normal 18px/24px 'Helvetica Neue',Arial,sans-serif;
 color:#333;
 -webkit-user-select:none;
 -ms-user-select:none;
 -moz-user-select:none;
 user-select:none
}
body {
 margin:0;
 padding:0;
 background:0 0
}
a {
 outline:0;
}
.head {
    grid-area: header;
}

.courseReqs {
    grid-area: upperleft;
}

.schedule {
    grid-area: upperright;
}

.validation {
    grid-area: bottomleft;
}

.courseFinder {
    grid-area: bottomright;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'upperleft upperright upperright upperright upperright upperright '
        'bottomleft bottomright bottomright bottomright bottomright bottomright';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}
.grid-Schedule {
    display: grid;
    grid-template-areas:
        'F2021 Su2022 Sp2022'
        'F2022 Su2023 Sp2023'
        'F2023 Su2024 Sp2024'
        'F2024 Su2025 Sp2025';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

    .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
    }

.head{
    display: grid;
    grid-template-areas: "headerLogo headerCol headerCol";
}