html {
 margin:0;
 padding:0;
 font:normal normal normal 12px/18px 'Helvetica Neue',Arial,sans-serif;
 color:#333;
 -webkit-user-select:none;
 -ms-user-select:none;
 -moz-user-select:none;
 user-select:none
}
body {
 margin:0;
 padding:0;
 background:0 0
}
a {
 outline:0;
 text-decoration:none
}
.item1 {
    grid-area: header;
}

.item2 {
    grid-area: upperleft;
}

.item3 {
    grid-area: upperright;
}

.item4 {
    grid-area: bottomleft;
}

.item5 {
    grid-area: bottomright;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'upperleft upperright upperright upperright upperright upperright '
        'bottomleft bottomright bottomright bottomright bottomright bottomright';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

    .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    }