html {
 margin:0;
 padding:0;
 font:normal normal normal 18px/24px 'Helvetica Neue',Arial,sans-serif;
 color:#333;
 -webkit-user-select:none;
 -ms-user-select:none;
 -moz-user-select:none;
 user-select:none
}
body {
 margin:0;
 padding:0;
 background:0 0
}
a {
 outline:0;
}
.head {
    grid-area: header;
}

.courseReqs {
    grid-area: upperleft;
}

.schedule {
    grid-area: upperright;
}

.validation {
    grid-area: bottomleft;
}

.courseFinder {
    grid-area: bottomright;
}

.Monthbox-F2021 {
    grid-area: F2021
}
.Monthbox-Su2022 {
    grid-area: Su2022
}
.Monthbox-Sp2022 {
    grid-area: Sp2022
}

.Monthbox-F2022 {
    grid-area: F2022
}

.Monthbox-Su2023 {
    grid-area: Su2023
}

.Monthbox-Sp2023 {
    grid-area: Sp2023
}

.Monthbox-F2023 {
    grid-area: F2023
}

.Monthbox-Su2024 {
    grid-area: Su2024
}

.Monthbox-Sp2024 {
    grid-area: Sp2024
}

.Monthbox-F2024 {
    grid-area: F2024
}

.Monthbox-Su2025 {
    grid-area: Su2025
}

.Monthbox-Sp2025 {
    grid-area: Sp2025
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'upperleft upperright upperright upperright upperright upperright '
        'bottomleft bottomright bottomright bottomright bottomright bottomright';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}
.grid-Schedule {
    display: grid;
    grid-template-areas:
        'F2021 Sp2022 Su2022'
        'F2022 Sp2023 Su2023'
        'F2023 Sp2024 Su2024'
        'F2024 Sp2025 Su2025';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}
    .grid-Schedule > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 0;
    }

    .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
    }

.head{
    display: grid;
    grid-template-areas: "headerLogo headerCol headerCol";
}